<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="assets/images/menu.png">
        </div>
        <div class="card-content">
          <h6>Some burgerst to choose:</h6>
          <hr>
          <ul>
            {{#each burgers}}
              {{#unless this.isEaten}}
                <li> 
                  <span>
                    {{this.burgerName}}
                      <div>
                        {{> burgers/menuBurgers}}
                      </div>
                  </span> 
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/eaten.png">
      </div>
      <div class="card-content">
        <h6>Some burgerst you've eaten:</h6>
        <hr>
        <ul>
          {{#each burgers}}
            {{#if this.isEaten}}
              <li> 
                <span>
                  {{this.burgerName}}
                    <div>
                      {{> burgers/deleteBurger}}
                    </div>
                </span> 
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col s6 offset-s3">
      <h6>Add your favorites to the menu!</h6>
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <label for="burger">Burger description:</label>
          <input type="text" id="burger" name="burgerName" class="validate" >
          <button type="submit" class="waves-effect waves-light btn btn-small black right"><i class="material-icons prefix">create</i>Add Burger</button>
        </div>
      </form>
</div>
</div>