<form action="/{{this.id}}?_method=PUT" method="POST" class="cook" data-burger="{{this.id}}">
    <input type="hidden" name="devoured" value="true">
    <button type="button" class="btn btn-success">Cook Again!</button>
</form>