<form action="/{{this.id}}?_method=DELETE" method="POST" id="delete">
  <button type="submit" class="waves-effect waves-light btn btn-small black"><i class="material-icons">delete</i>NEVER AGAIN!</button>
</form>
<hr>