<form action="/{{this.id}}?_method=PUT" method="POST" id="notComplete">
	<input type="hidden" name="isEaten" value="1">
	<button type="submit" class="waves-effect waves-light btn btn-small black"><i class="material-icons">local_dining</i>Eat me!</button>
</form>
<hr>