<form action="/{{this.id}}?_method=PUT" method="PUT" id="notComplete" data-burger="{{this.id}}">
	<input type="hidden" name="devoured" value="1">
	<button type="button" class="btn-btn-primary">DEVOUR!</button>
</form>
<hr>